<% provide(:title, "Home") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | Art Spaces</title>
    
  </head>
  <body>
    <div class="center jumbotron">
      <%= link_to image_tag("main_image.png", alt: "Home main logo"),
            '#' %>
      <h1>Welcome to the Art Spaces</h1>

      <h2>
        <a href="#">Create rooms and make pictures like a artist</a>
      </h2>

    <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
    </div>

<!-- <%= link_to image_tag("rgb.png", alt: "Art Space logo"),
            '#' %> -->
  </body>
</html>