@import "bootstrap-sprockets";
@import "bootstrap";


/* universal */
html {
  position: relative;
  min-height: 100%;
}

body {

  padding-top: 50px;
  background-color: #EEEEEE !important;
  max-width: 1920px;
  width: 100%;
  margin-bottom: 180px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

table{
  border: 2px solid grey;
}

thead{
  border-bottom: 2px solid grey !important;
}

tbody{
  background-color: #fff;
}
/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

h4 {
   color: #333333;	

}

h5 {
   color: #333333;	
 }

p {
  font-size: 1.1em;
  line-height: 1.7em;
}



#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

.col-ex {
	padding: 1rem;
	/*margin-right: 15px;*/
	/*width: 30%;*/
	/*margin: 2px;*/
    background-color: #EEEEEE;
    border: 2px solid #bbb;
    border-radius: 15px;
    color: #fff;
    text-align: center;
    /*display: flex;*/
   /* float: inline-block;*/
    
}


#hr_body {
  overflow: visible !important;
  border-top: 3px solid #000;
  width: 100%;
}


#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 180px;
  /*background-color: #f5f5f5;*/
}


/* footer */

/*
footer {
  margin-top: 200px;	
  border-top: 1px solid #eaeaea;
  color: #777;
  height: 100px;
  background-color: #000; 
  bottom: 0;

}*/

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  border-radius: 5px;
  width: 100%;
  margin-bottom: 15px;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}