<footer class="footer">
  <div class="container">
    
  </div>

</footer>

<!-- Footer -->
<!-- Footer -->
<footer class="page-footer font-smallpt-4" style="background-color: #EEEEEE"> 

    <!-- Footer Text -->
    <div class="container-fluid">

      <!-- Grid row -->
      <div class="row" >
        <div class="col-md-4 col-ex">
            <!-- <h4>One of three columns</h4> -->
            <h5>One of three columns</h5>
        </div>
        <div class="col-md-4 col-ex">
            <!-- <h4>One of three columns</h4> -->
            <h5>One of three columns</h5>
        </div>
        <div class="col-md-4 col-ex">
            <!-- <h4>One of three columns</h4> -->
            <h5>One of three columns</h5>
        </div>

      </div>
      <!-- Grid row -->

    </div>
    <!-- Footer Text -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2018 Copyright:
      <a href="https://mdbootstrap.com/bootstrap-tutorial/"> MDBootstrap.com</a>
    </div>
    <!-- Copyright -->

  </footer>
  <!-- Footer