<header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">

        <%= link_to "Art Spaces", '#', id: "logo" %>
        <nav class="navbar-expand-sm mb-4">
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "Home",   root_path %></li>
            <li><%= link_to "Sign up", signup_path %></li>
          </ul>
        </nav>
      </div>
</header>